@use './foundation/colors' as c;

header,
footer {
  color: c.$grey-800;
  padding: 2rem 0;
  width: 100vw;
  padding: 2rem 2rem;
  max-width: 70rem;
}

header {
  border-bottom: 1px solid c.$grey-000;
}

footer {
  border-top: 1px solid c.$grey-800;
}

.home {
  padding: 2rem 2rem 5rem 2rem;
  max-width: 70rem;
  margin-right: auto;
  p {
    margin: 0.4rem;
  }
}
