---
import { Markdown } from "astro/components"
import BaseLayout from "layouts/BaseLayout.astro"
---
<BaseLayout title="home">
  <div class="home">
    <picture>
      <source srcset="site.webp" type="image/webp" />
      <img src="/site.jpg" alt="Island Fields map" width="660" height="396" />
    </picture>
    <div style="height: 3rem;" />
    <Markdown>
      Climate Change in Brecknockshire results in irregular storms and significant increases in rainfall. A series of field recordings gathered throughout Autumn 2021, this work celebrates, archives and critiques the biodiversity of Brecon’s Island Fields, a flood plain situated between the River Usk and the Monmouthshire and Brecon Canal on the edge of the town. The whole ecosystem here is at risk due to increased flooding at times of the year when the nature here is vulnerable. The Island Fields is a space well loved by the local community for walking, playing, swimming and the enjoyment of the natural World.

      Artscape artist-in-residence Matt Cook has developed this work through a series of interactions with ornithologist Andrew King; the Biodiversity Information Service for Powys and local green wood workers.
    </Markdown>
    <div class="embed-container">
      <iframe
        src="https://player.vimeo.com/video/672470696?h=4324d8b92c&amp;title=0&amp;byline=0&amp;portrait=0&amp;dnt=1"
        allowfullscreen
        loading="lazy"
      ></iframe>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  img {
    width: 100%;
    height: auto;
  }

  .home {
    max-width: 70rem;
    padding: 2rem 2rem 5rem;
    margin: auto;
  }

  .embed-container {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: 4rem;
    overflow: hidden;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
