* {
  box-sizing: border-box;
  margin: 0;
  & + * {
    margin-top: 1rem;
  }
}

html {
  background-color: hsl(0, 0%, 100%);
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 20%);
  font-family: 'Inconsolata', sans-serif;
  font-size: calc(7px + 2vmin);
  margin: auto;
  line-height: 1.25;
}

p {
  padding-bottom: 2rem;
  &:last-child {
    padding-bottom: 0;
  }
}

img {
  width: 100%;
  height: auto;
}

header,
footer {
  color: hsl(0, 0%, 20%);
  width: 100vw;
}

header {
  margin: auto;
  max-width: 70rem;
  padding: 2rem 2rem;
}

footer {
  border-top: 1px solid hsl(0, 0%, 20%);
  & div {
    margin: auto;
    max-width: 70rem;
    padding: 2rem 2rem;
  }
}

.home {
  padding: 2rem 2rem 5rem 2rem;
  max-width: 70rem;
  margin: auto;
  & p {
    margin: 0.4rem;
  }
}
